/* Global container */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

/* Style for individual sections (icon + text) */
.textContainers {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1.5rem;
}

/* Style for buttons container */
.buttons-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	margin-top: 20px;
}

/* General button style */
button {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 0.5rem;
	padding: 0.6em 1.2em;
	font-size: 1em;
	text-align: center;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: border-color 0.25s;

	&:hover {
		border-color: #646cff;
	}

	&:disabled {
		background-color: #010101;
		cursor: not-allowed;
	}
}

.icon {
	width: 1em;
	height: 1em;
}

/* Icon styling to prevent shrinking */
svg {
	flex-shrink: 0;
	padding: 0 0.6em;
}

p {
	margin: 0;
	font-size: 1em;
}
