.toggleButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 34px;
	border-radius: 34px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	margin: 0 auto;
}

.buttonsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	margin-top: 20px;
}

[data-theme="dark"] .toggleButton {
	background-color: #2196f3;
	color: white;
}
